*{
    margin: 0%;
}
nav{
    background-color:rgb(25, 25, 129);
}
h1{
    background-color:rgb(47, 47, 196);
    text-align: center;
}
h1{
    text-align: center;
    color: aliceblue;
}
nav a {
 text-align: center;
text-decoration: none;
color: black;


}
 

nav ul li{
    margin: 10px;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px; 
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse:collapse;
  border: 3px solid black;
}
th, td {
  border: 5px solid black;
  padding:20px;
  text-align: center;
}
body{
     color:darkslateblue;
        background-color:rgb(212, 233, 240);
    }




