*{
    margin: 0%;
}

h1{
    background-color: rgb(9, 9, 141);
color: white;
text-align: center;
}


nav{
    background-color: rgb(7, 7, 95);
    margin-bottom: 50px;
}


nav a {
  
 text-align: center;
text-decoration: none;
color: white;


}
 

nav ul li{
    margin: 15px;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
  
}

main {
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    margin-bottom: 50px;
    height: 50px;
}

 

img{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
}
img{
    border-radius: 50%;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    margin-top: 50px;
}
h3{
text-align: center;
margin-top: 40px;
}
h4{
    text-align: center;
    margin-top: 30px;
}
p{
    text-align: center;
}
body{
    background-color: rgb(232, 227, 236);
}